global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 10m
  repeat_interval: 60m
  receiver: 'email'
receivers:
- name: 'email'
  email_configs:
  - to: '{{ email_target }}'
    from: '{{ email_source }}'
    smarthost: '{{ SMTP_host }}: {{ smtp_port }}'
    auth_username: '{{ email_login }}'
    auth_identity: '{{ email_login }}'
    auth_password: '{{ email_pass }}'
inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'dev', 'instance']



